body {
    color: aliceblue;
    background-color: rgb(2, 2, 71);
    font-size: 16px;
}

ul {
    padding: 0;
    text-align: end;
}

li {
    display: inline-block;
    margin-right: 3%;
}

a {
    margin-right:45PX;
    text-decoration: none;
    outline: none;
}

a:link ,a:visited{
    color: aliceblue;
}

a:hover {
    color: rgb(1, 5, 240);
}

.Bienvenue {
    width:50%;
    margin:200px 2% auto;
}

.Bienvenue > P {
    padding-left: 10%;
}
span {
    font-size: 50px;
}

.bouton {
    margin:2% 20% 0px;
    width: 120px;
    height: 30px;
}

.bouton:hover , .bouton:focus {
    background-color: rgb(2, 2, 71);
    color: aliceblue;
}

img {
    position: absolute;
    width: 250px;
    height: auto;
    top:40%;
    left: 65%;
    border-radius: 50%;
    border: 2px solid white; 
}

.hidden {
    display :none;
}
 
.download {
    margin: 200px;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width:500px){
    body {
        color: aliceblue;
        background-color: rgb(2, 2, 71);
        font-size: 12px;
    }
    ul{
        padding: 0;
        text-align: center;
    }
    a {
        margin-right: 10px;
        text-decoration: none;
        outline: none;
    }
    img {
        position:relative;
        width: 250px;
        height: auto;
        margin:20%;
        left: 0%;
        border-radius: 50%;
        border: 2px solid white; 
    }
    .Bienvenue {
        width:100%;
        margin:2px 2px auto;
    }
    .Bienvenue > P {
        padding-left: 6%;
    }
    .download {
        margin: 100px;
        font-size: 20px;
        text-align: center;
    }
    #VoirMonCV {
        margin-left: 30%;
    }
}
